html, body, .terminal, pre
  height: 100%

.terminal
  position: relative

pre
  background-color: black
  box-sizing: border-box
  padding-bottom: 20px

input
  background-color: black
  box-sizing: border-box
  border: none
  bottom: 0
  padding: 0 0 0 60px
  position: absolute
  width: 100%

.prompt
  bottom: 0
  left: 0
  position: absolute

body, pre, input
  color: #080
  font-family: Monaco, Menlo, 'Ubuntu Mono', 'Droid Sans Mono', Consolas, monospace
  font-size: 18px
  margin: 0
